.container {
    width: 1400px;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.home-pic img {
    border: 5px solid blanchedalmond;
    border-radius: 50%;
    width: 300px;
}
.home-info {
    width: 350px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-info h1 {
    font-size: 40px;
    font-weight: bold;
}
.home-info p {
    font-size: 20px;
}