/* Tailwind css */
@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
} 

@keyframes img-float {
    0%,100% { transform: translateY(0);}
    50% { transform: translateY(20px); }
    
}

.image-float {
    animation: img-float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
.animate-float {
    animation: float 6s ease-in-out infinite;
}

@keyframes float-particle {
0%, 100% { transform: translateY(0) translateX(0); }
50% { transform: translateY(-50px) translateX(20px); }
}

